{% extends "base.html" %}
{% block content %}
<div class="container my-4">
  <h2>Analysis Dashboard</h2>
  <div id="price-chart"></div>
  <div id="sentiment-chart"></div>
  <div id="return-chart"></div>
</div>

<!-- Plotly CDN -->
<script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
<script>
const dates = {{ dates|tojson }};
const sentiments = {{ sentiments|tojson }};
const prices = {{ prices|tojson }};
const actualReturns = {{ actual_returns|tojson }};
const predictedReturns = {{ predicted_returns|tojson }};

Plotly.newPlot('price-chart', [{
  x: dates,
  y: prices,
  type: 'scatter',
  mode: 'lines+markers',
  name: 'Close Price'
}], {
  title: "Stock Price Over Time",
  xaxis: {title: "Date"},
  yaxis: {title: "Price"}
});

Plotly.newPlot('sentiment-chart', [{
  x: dates,
  y: sentiments,
  type: 'scatter',
  mode: 'lines+markers',
  name: 'Sentiment Score'
}], {
  title: "Sentiment Over Time",
  xaxis: {title: "Date"},
  yaxis: {title: "Sentiment Score", range: [-1,1]}
});

// ML Chart!
Plotly.newPlot('return-chart', [
  {
    x: dates,
    y: actualReturns,
    type: 'scatter',
    mode: 'lines+markers',
    name: 'Actual Return'
  },
  {
    x: dates,
    y: predictedReturns,
    type: 'scatter',
    mode: 'lines+markers',
    name: 'Predicted Return'
  }
], {
  title: "Actual vs. Predicted Next-Day Return",
  xaxis: {title: "Date"},
  yaxis: {title: "Return"}
});
</script>
{% endblock %}
